@tailwind base;
@tailwind components;
@tailwind utilities;

/* scroll bar */
::-webkit-scrollbar {
  width: 0px;
  height: 2px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

/* default */

.ds h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ds h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ds h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ds h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ds h5 {
  display: block;
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ds h6 {
  display: block;
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
.ds head {
  display: none;
}
.ds header {
  display: block;
}
.ds hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.ds p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
.ds strike {
  text-decoration: line-through;
}
.ds strong {
  font-weight: bold;
}
.ds sub {
  vertical-align: sub;
  font-size: smaller;
}
.ds sup {
  vertical-align: super;
  font-size: smaller;
}
.ds table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}
.ds tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.ds td {
  display: table-cell;
  vertical-align: inherit;
}
.ds tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}
.ds th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}
.ds thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
.ds title {
  display: none;
}
.ds tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.ds u {
  text-decoration: underline;
}
.ds ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
